@model GradeBook.EntityData.Student


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4> Edit Student</h4>
<hr />
<div class="row ">
    <div class="col-md-4">
        <form asp-action="Edit">
         
                <input asp-for="Id" class="form-control" hidden />
                <input asp-for="Roll_No" class="form-control" hidden />
        
          
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CSC101" class="control-label"></label>
                <input asp-for="CSC101" class="form-control" />
                <span asp-validation-for="CSC101" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CSC102" class="control-label"></label>
                <input asp-for="CSC102" class="form-control" />
                <span asp-validation-for="CSC102" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CSC103" class="control-label"></label>
                <input asp-for="CSC103" class="form-control" />
                <span asp-validation-for="CSC103" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CSC104" class="control-label"></label>
                <input asp-for="CSC104" class="form-control" />
                <span asp-validation-for="CSC104" class="text-danger"></span>
            </div>
        
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn custom-btn" />
            </div>
        </form>
    </div>
</div>



</body>
</html>
